<!DOCTYPE html>
<html>
<head>
  <title>Movies App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/movies">Movies</a>

    <% if (user) { %>
      <span>Welcome, <%= user.username %></span>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/register">Register</a>
      <a href="/login">Login</a>
    <% } %>
  </nav>
  <hr>

  <% if (typeof errors !== 'undefined' && errors && errors.length) { %>
  <div class="errors">
    <ul>
      <% errors.forEach(e => { %>
        <li><%= e %></li>
      <% }) %>
    </ul>
  </div>
<% } %>

  <%- body %>
</body>
</html>
