<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Movies App</title>
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body style="margin:0; font-family:Arial, sans-serif;">

    <nav style="background:#222; color:#fff; padding:1rem;">
      <a href="/" style="color:#fff; margin-right:1rem; text-decoration:none;">Home</a>
      <a href="/movies" style="color:#fff; margin-right:1rem; text-decoration:none;">Movies</a>
      <a href="/register" style="color:#fff; margin-right:1rem; text-decoration:none;">Register</a>
      <a href="/login" style="color:#fff; margin-right:1rem; text-decoration:none;">Login</a>
    </nav>

    <main style="padding:2rem;">


  <h1>Movies App</h1>
  <br>
  <p>Welcome to the Movies collection.</p>

    </body>
</html>
